.inline-container, .inline-block-container, .block-container, .flex-container{
    border: black solid 1px;
}

.inline-div{
    display: inline;
    background-color: black;
}

.inline-block-div{
    display: inline-block;
    background-color: rgb(224, 125, 125);
}

.block-div{
    display: block;
    background-color: rgb(128, 216, 128);
}

.flex-div{
    background-color: rgb(67, 67, 177); 
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
}

.inline-div:hover, .inline-block-div:hover, .block-div:hover, .flex-div:hover{
background-color: rgb(148, 91, 212);

}
.inline-div, .inline-block-div, .block-div, .flex-div{
width: 100px;
height: 100px;
margin: 20px;
text-align: center;
color: gray;
font-family: monospace;
size: 2rem;
animation-name: animation;
animation-duration: 2s;
animation-direction:alternate;
animation-iteration-count: infinite;
}

@keyframes animation {
    0% {width: 100px;}
    100% {width: 200px;}   
}